[submodule "robot/src/franka_ros2"]
	path = robot/src/franka_ros2
	url = https://git.uwaterloo.ca/robohub/panda/franka_ros2.git
[submodule "robot/src/grasp_generation/grasp_generation/uois"]
	path = robot/src/grasp_generation/grasp_generation/uois
	url = https://github.com/chrisdxie/uois.git
[submodule "contact_graspnet"]
	path = contact_graspnet
	url = https://github.com/aidankirwin/contact_graspnet_ros2.git
